autopilot_pp/build/**/*
autopilot_pp/dist/*
extension/source/scripts/*.js
extension/source/data/*
extension/build/**
fmc/**/*.html
fmc/**/*.css
fmc/build/**/*
fmc/dist/*
keyboard_mapping/build/**/*
keyboard_mapping/dist/*
spoilers_arming/build/**/*
spoilers_arming/dist/*